.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.inputs input{
    padding: 20px 30px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
}
#valied{
    color: red;
    visibility: hidden;
}
#invalied{
    color: red;
    visibility: hidden;
}
